body {
    font-family: "Playfair Display", serif;

}
h1,h2 {
    font-family: "Source Sans 3", serif;

}
header {
    background-image: url(images/yellow-flowers-5038847_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 2em;
}


